/* General and Shared CSS Styles Starts */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    background-color: #FF900E;
    padding: 20px;
    font-size: 24px;
    color: #FFF;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

/* General and Shared CSS Styles Ends */

/* Header CSS Styles Starts */

.header-container {
    background: rgba(255, 144, 14, 0.10);
}

.navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
}

.nav-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav-links li {
    list-style: none;
    margin-right: 30px;
}

.nav-links li a {
    text-decoration: none;
}

.header-content {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.header-title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}

.header-content p,
button {
    margin-bottom: 30px;
}

.header-img {
    text-align: center;
    padding-bottom: 45px;
}

/* Header CSS Styles Ends */